
<p-panel *ngIf="!dataLoaded" header="Loading...">
    <div class="row">
        <div class="col-md-12 center spinner">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
        <div *ngIf="showEmpty" class="col-md-12 center">
            <p-message severity="info" text="No tweets found"></p-message>
        </div>    
    </div>
</p-panel>
<div *ngIf="dataLoaded">
    <p-panel *ngIf="insertId && !editData" header="Succesfully submited !!">
        <div class="col-md-12 center">
            <i class="fa fa-check-circle fa-5x completed-fa"></i><br>
            <p-message severity="info" text="You have succesfully submitted aspects with insert ID {{ insertId }}. If you have any problems contact the admin."></p-message><br>
            <button type="button" class="btn btn-secondary" (click)="editSubmitted()">Edit submission</button>
        </div>
    </p-panel>    
    <div *ngIf="editData">
        <p-carousel headerText="Tweets" [numVisible]="1" [value]="tweets" [firstVisible]="selectedIndex" [pageLinks]="10" [style]="{'margin-bottom':'100px'}" (onPage)="pageChange($event)">
            <ng-template let-tweet pTemplate="item">
                <p-panel header="Tweet {{ int(tweet.field1) + 1 }}" [toggleable]="true" [style]="{'margin-bottom':'10px'}">
                    <p-message severity="info" text="{{ message }}"></p-message>
                    <p-card header="Text" class="col-md-12">
                        <div>{{ tweet.text }}</div>
                    </p-card>
                </p-panel>
                <p-panel header="Aspects" [toggleable]="true" [style]="{'margin-bottom':'10px'}">
                    <div class="row dragdrop">
                        <p-card class="col-6 col-sm-3 drag">
                            <p-header><h6 style="text-align: center"><b>Keywords</b></h6></p-header>
                            <div class="card dragger" *ngFor="let keyword of tweet.keywords" dnd-draggable [dragEnabled]="true" [dragData]="keyword">
                                <div class="card-body row">
                                    <div class="col-md-12">
                                        {{ keyword }}
                                    </div>
                                </div>
                            </div>  
                        </p-card>
                        <p-card dnd-droppable class="col-6 col-sm-3 drop negative" (onDropSuccess)="transferDataSuccess($event, tweet, opinion.negative)">
                            <p-header><h6 style="text-align: center"><b>Negative</b></h6></p-header>
                            <div class="card dragger" *ngFor="let keyword of tweet.sentiment.negative">
                                <div class="card-body row">
                                    <div class="col-md-12">
                                        {{ keyword }} 
                                        <i class="fa fa-plus-square fa-1.5x" dnd-droppable (onDropSuccess)="extendWord($event, keyword, tweet, opinion.negative)"></i>
                                        <i class="fa fa-close fa-1.5x" [style.float]="'right'" (click)="removeItem(keyword, tweet, opinion.negative)"></i>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                        <p-card dnd-droppable class="col-6 col-sm-3 drop neutral" (onDropSuccess)="transferDataSuccess($event, tweet, opinion.neutral)">
                            <p-header><h6 style="text-align: center"><b>Neutral</b></h6></p-header>
                            <div class="card dragger" *ngFor="let keyword of tweet.sentiment.neutral">
                                <div class="card-body row">
                                    <div class="col-md-12">
                                        {{ keyword }}
                                        <i class="fa fa-plus-square fa-1.5x" dnd-droppable (onDropSuccess)="extendWord($event, keyword, tweet, opinion.neutral)"></i>
                                        <i class="fa fa-close fa-1.5x" [style.float]="'right'" (click)="removeItem(keyword, tweet, opinion.neutral)"></i>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                        <p-card dnd-droppable class="col-6 col-sm-3 drop positive" (onDropSuccess)="transferDataSuccess($event, tweet, opinion.positive)">
                            <p-header><h6 style="text-align: center"><b>Positive</b></h6></p-header>
                            <div class="card dragger" dnd-droppable *ngFor="let keyword of tweet.sentiment.positive" (onDropSuccess)="extendWord($event, keyword, tweet, opinion.positive)">
                                <div class="card-body row">
                                    <div class="col-md-12">
                                        {{ keyword }}
                                        <i class="fa fa-plus-square fa-1.5x" dnd-droppable (onDropSuccess)="extendWord($event, keyword, tweet, opinion.positive)"></i>
                                        <i class="fa fa-close fa-1.5x" [style.float]="'right'" (click)="removeItem(keyword, tweet, opinion.positive)"></i>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </p-panel>
                <div class="col-md-12 center">
                    <span class="pointer-items" *ngFor="let item of completed; let i = index">
                        <i *ngIf="item" class="page-pointer complete fa fa-arrow-circle-right fa-2x" [ngClass]="selectedIndex ==  i? 'selected' : ''" (click)="selectPage(i)"></i>
                        <i *ngIf="!item" class="page-pointer incomplete fa fa-arrow-circle-right fa-2x" [ngClass]="selectedIndex ==  i? 'selected' : ''" (click)="selectPage(i)"></i>
                    </span><br>
                    <button type="button" class="btn btn-primary" [disabled]="sending" (click)="setAspect(int(tweet.field1))">Submit <i *ngIf="sending" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></button>
                    <div *ngIf="int(tweet.field1) == tweets.length - 1">
                        <p-message *ngIf="!isComplete" severity="warn" text="Submit all the tweets before complete the submission"></p-message><br>
                        <button type="button" class="btn btn-primary" [disabled]="!isComplete || sending" (click)="submit()">Submit all and finish <i *ngIf="sending" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
<p-dialog header="Warning !" [(visible)]="confirmMessage" [closable]="true" [style]="{width: '300px'}">
    Do you want to submit all?
    <div class="col-md-12 center">
        <button type="button" class="btn btn-primary" (click)="submitAll()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="hideConfirmMessage()">No</button>
    </div>
</p-dialog>