.center{
    text-align: center;
    margin: auto;
}

.spinner{
    margin-top: 30px;
    margin-bottom: 30px;
}

.dragdrop .drag{
    padding-top: 2px;
    height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid rgb(221, 215, 215);
}

.dragdrop .drop{
    padding-top: 2px;
    height: 230x;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid rgb(221, 215, 215);
}

.dragger{
    padding: 0;
    margin: 2px;
    overflow: hidden;
}

.pointer-items{
    padding: 2px;
    cursor: pointer;
}

.complete{
    color: rgb(90, 160, 90);
}

.incomplete{
    color: rgb(219, 163, 163);
}

.drop ::ng-deep .ui-card{
    min-height: 100%;
}

:host ::ng-deep .ui-card{
    background-color: #f5f1f1;
}

.negative ::ng-deep .ui-card{
    background-color: #ec9494;
}

.neutral ::ng-deep .ui-card{
    background-color: #d3d3f0;
}

.positive ::ng-deep .ui-card{
    background-color: #69d869;
}

.btn{
    margin: 5px;
}

.completed-fa{
    color: #69d869;
}